# Python virtual environments
.venv/
venv/
ENV/
env/

# Bytecode & Caches
__pycache__/
*.py[cod]
*.pytest_cache/
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large raw dumps
data/raw/*.zip
data/raw/*.xlsx
